body {
  background-color: #f9f7fe;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  color: #8f8f8f;
  font-size: 15px;
}

form {
  padding: 30px 15px;
}

h1 {
  color: #272142;
  margin: 20px 0 10px;
  font-weight: 700;
  font-size: 34px;
}

ul {
  line-height: 1.7em;
  list-style: none;
  padding: 0;
}

ul::first-letter {
  text-transform: capitalize;
}

strong {
  font-weight: 500;
  color: #fe77a3;
}

a {
  text-decoration: none;
  color: #885df1;
}

.logo {
  max-width: 150px;
  display: block;
}

.content-wrapper {
  background: white;
  max-width: 770px;
  display: block;
  margin: 100px auto;
  padding: 40px;
  border-style: none;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}

.search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: block;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  height: 50px;
}

.search-input:focus {
  outline: none;
  border: 2px solid #e0d7f5;
}

.search-btn {
  background-color: #885df1;
  margin-left: 15px;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 6px;
}

.search-btn:hover {
  transition: ease-in-out 200ms;
  background-color: #6647b5;
}

.search-btn:focus {
  background-color: #6647b5;
}

.search-btn:active {
  background-color: #6647b5;
}

.temperature-container {
  text-align: right;
}

.description {
  text-transform: capitalize;
}

.weather-icon {
  width: 100px;
  padding-right: 10px;
}

.current-temperature {
  color: #212121;
  font-weight: 700;
  font-size: 75px;
  vertical-align: middle;
}

.current-degrees {
  color: #212121;
  position: relative;
  bottom: 12px;
  font-weight: 500;
  font-size: 20px;
}

.active {
  color: #212121;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.forecast {
  text-align: center;
  vertical-align: top;
  margin: 20px 10px 70px;
}

.cloudy-forecast {
  width: 90px;
  padding: 20px;
}

.temperature-c,
.temperature-f {
  font-weight: 500;
  color: #fe77a3;
}

.footer {
  text-align: center;
}
